@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.CurrencyPairs.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AlertsApp.web.Default.CurrencyPairsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>