{
    "RootNamespace": "CryptoAlerts.web",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=WIN7VM;Initial Catalog=CryptoAlerts;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Alerts",
                    "Identifier": "Alerts",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.AlertSettings",
                    "Identifier": "AlertSettings",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CurrencyPairs",
                    "Identifier": "CurrencyPairs",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Exchanges",
                    "Identifier": "Exchanges",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Exceptions",
                    "Identifier": "Exceptions",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\CryptoAlertsApp\\CryptoAlertsApp.Web\\CryptoAlertsApp.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": false
}