@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.AlertSettings.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AlertsApp.web.Default.AlertSettingsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>