@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Alerts.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CryptoAlerts.web.Default.AlertsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>